#mainNav .navbar-nav .nav-item .nav-link-1 {
    font-family: "Montserrat",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 0.95rem;
    color: rgb(221, 106, 71);
    letter-spacing: 0.0625em;
    text-decoration: none;
}

form {
    border: 3px solid rgb(0, 0, 0);
    width: 500px;
    margin-left: 410px;
}

.font {
    position: relative;
    font-family: "Montserrat",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

button {
    /* background-color: #f19e29;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px; */
    width: 97.5%;
    padding: 15px;
    background-color: #f98d36;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #db8712;
    transition: background-color 0.2s;
}

.container-s {
    padding: 16px;
}

.input-control {
    display: flex;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 100px;
    height: auto;
    border-radius: 80%;
}

.container-signin {
    text-align: center;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    form {
        width: 50%;
        margin-left: 0;
    }
}

.input-control label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f08e33;
    color: #ffffff;
}

.input-control input[type="password"],
.input-control input[type="text"],
.input-control input[type="email"] {
    width: 400px;
    height: 50px;
    border: 1px solid #dee0e4;
    /* margin-left: 50px; */
    margin-bottom: 20px;
    padding: 0 15px;
}

.container-ac {
    text-align: center;
}